<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul style="list-style: none;" class="navBar">
            <li><a href="/contact">Contact</a></li>
            <li> <a href="/create">Create</a></li>
            <li> <a href="/">Home</a></li>
        </ul>
    </nav>
    <!-- <h1>Welcome To Dev Blog</h1> -->
</body>
</html>