<%- include("patches/header.ejs") %>

<div class="conta">
    <form action="/" method="post">
        <label for="name">Neam</label>
        <input type="Name" name="" id="">
        <label for="msg">Message</label>
        <input type="text">
    </form>


</div>

<%- include("patches/footer.ejs") %>