<%- include("patches/header.ejs") %>
    <h1 style="width: 100vw;text-align: center;">Create Your New Blog</h1>
    <form action="/" class="Blog_form" method="post"> 
        <label for="title">Enter Title of Blog</label>
        <input type="text" name="title" id="mytitle" placeholder="Title">

        <label for="content">Enter Your Content</label>
        <textarea name="content" id="" cols="30" rows="20" placeholder="Write Here Your Thought.........."></textarea>

        <button type="submit">Create</button>
    </form>

<%- include("patches/footer.ejs") %>