<%- include("patches/header.ejs") %>



<div class="main">
    <ul style="list-style: none;">
        <li>
            <head><a href=""> Blog 1</a></head>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque necessitatibus cumque nam quae veniam fuga repellendus, natus culpa maiores, dolor dignissimos hic iure consequatur nihil sed blanditiis assumenda tenetur sint.</p>
        </li>
        <li>
            <head><a href=""> Blog 2</a></head>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque necessitatibus cumque nam quae veniam fuga repellendus, natus culpa maiores, dolor dignissimos hic iure consequatur nihil sed blanditiis assumenda tenetur sint.</p>
        </li>
        <li>
            <head><a href=""> Blog 3</a></head>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque necessitatibus cumque nam quae veniam fuga repellendus, natus culpa maiores, dolor dignissimos hic iure consequatur nihil sed blanditiis assumenda tenetur sint.</p>
        </li>
    </ul>
</div>

<%- include("patches/footer.ejs") %>
